---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title='About | Mark Poramest' description='About Mark Poramest'>
	<div class='stack gap-20'>
		<main class='wrapper about'>
			<Hero
				title='About Me'
				tagline='Thanks for dropping in. Take a look below to discover more about myself and my background.'
			>
				<img
					width='1553'
					height='873'
					src='/portfolio/assets/about-me.jpg'
					alt='Mark in Japan'
				/>
			</Hero>

			<section>
				<h2 class='section-title'>Summary</h2>
				<div class='content'>
					<p>
						Senior Software Engineer with 5+ years of experience specializing in Golang and microservices architecture, including
						utilizing Redis for high-performance caching. Skilled in designing scalable APIs, optimizing system performance, and migrating
						legacy systems. Committed to writing high-quality, maintainable code and improving system efficiency.
					</p>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Education</h2>
				<div class='content'>
					<div class='organization-name'>
						<b>Silpakorn University – Nakhon Pathom, Thailand</b>
						<span class='year'>May 2017 - Nov 2020</span>
					</div>
					<p class='indent'>Bachelor of Science in Information Technology</p>
					<p class='indent'>Cumulative GPA: 3.79 (First Class Honors)</p>
				</div>
				<div class='content'>
					<div class='organization-name'>
						<b
							>Kanjanapisek Witthayalai Nakornphathom School – Nakhon Pathom,
							Thailand</b
						>
						<span class='year'>May 2011 - Mar 2017</span>
					</div>
					<p class='indent'>High School in Science-Mathematics Program</p>
					<p class='indent'>Cumulative GPA: 3.48</p>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Relevant Experience</h2>
				<div class='content'>
					<div class='organization-name'>
						<b>Ascend Group – Bangkok, Thailand</b>
						<span class='year'>Dec 2021 - Present</span>
					</div>
					<p class='indent'>Senior Software Engineer</p>
					<p class='indent'>
						Develop a Mutual Fund Web Application within the True Money
						Application.
					</p>
					<ul>
						<li>
							Develop a Mutual Fund Web Application within the True Money
							Application and design API specifications and implement user account service
							components.
						</li>
						<li>
							Utilized Redis for storing credential data (such as phone-no and API token) to manage and optimize authentication processes.
						</li>
						<li>
							Creation of api gateways for seamless integration with other
							services. Developed gateways to facilitate smooth integration with
							external services, enabling efficient communication and data
							exchange and create backend-for-frontend (BFF) APIs to manage
							actions and serve data to the frontend
						</li>
						<li>
							Ensure that the code performance includes more than 90% coverage
							in unit tests and has sufficient capacity to handle the expected
							user load.
						</li>
						<li>
							Develop a batch process using Golang, implementing Goroutines for
							concurrent operations.
						</li>
						<li>
							Develop an internal library for specific use cases, such as
							logging request and response data when communicating with external
							services.
						</li>
						<li>
							Migrated a legacy service from Node.js to Golang, enhancing performance and reducing operational costs.
						</li>
						<li>
							Integrate Keycloak for efficient user authorization management in
							the back office.
						</li>
					</ul>
				</div>
				<div class='content'>
					<div class='organization-name'>
						<b>Motif Technology – Bangkok, Thailand</b>
						<span class='year'>Dec 2020 - Nov 2021</span>
					</div>
					<p class='indent'>Software Engineer</p>
					<p class='indent'>
						Spearheaded the development of the I-Legal Web Application tailored
						for in-house users within a bank company.
					</p>
					<ul>
						<li>
							Build the entire frontend using Angular and the backend using
							Java, adhering to the specified requirements.
						</li>
						<li>
							Designed a batch process to read input data from a CSV file, save
							it into a database, and generate corresponding output reports.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Skills</h2>
				<div class='content'>
					<ul>
						<li>
							<b>Programming:</b> Golang, Java, Node, Javascript, Typeescript
						</li>
						<li><b>Database:</b> PostgreSQL, Oracle, SQL Server, MySQL</li>
						<li>
							<b>Technical Tools:</b> Jenkins, Git, JMeter, Sonar Lint, Pre-commit,
							Mountebank, Robot Framework, Docker, Kubernetes, Prometheus, Keycloak
						</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class='section-title'>Languages</h2>
				<div class='content'>
					<ul>
						<li><b>Thai:</b> Native Speaker</li>
						<li>
							<b>English:</b> Certified proficiency at the CEFR C1 (Advanced) level
						</li>
						<li><b>Japanese:</b> Certified proficiency at the JLPT N3 level</li>
					</ul>
				</div>
			</section>

			<section>
				<h2 class='section-title'>Other Experience</h2>
				<div class='content'>
					<ul>
						<li>
							<b>Participate in Codegoda Coding Competition in 2022-2023</b>
							<ul>
								<li>
									Codegoda 2023: Ranking of 1,966 out of 50,233 participants
								</li>
								<li>
									Codegoda 2022: Ranking of 5,351 out of 49,454 participants
								</li>
							</ul>
						</li>
						<li>
							<b
								>Participate in GitHub Pull Request Hackathon .ไทย Universal
								(2021)</b
							>
							<ul>
								<li>
									Contribute to creating pull requests for GitHub repositories
									to facilitate support for the .ไทย domain
								</li>
							</ul>
						</li>
						<li>
							<b>Java Spring Boot Framework (2020)</b>
							<ul>
								<li>
									Training on Java Spring Boot Framework at Science, Silpakorn
									University By speakers from True Digital
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.indent {
		text-indent: 20px;
	}

	.organization-name {
		display: flex;
		justify-content: space-between;
	}

	.year {
		margin-left: auto;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
