---
import Icon from './Icon.astro';
---

<section class='box skills'>
	<div class='stack gap-2 lg:gap-4'>
		<Icon
			icon='terminal-window'
			color='var(--accent-regular)'
			size='2.5rem'
			gradient
		/>
		<h2>Backend</h2>
		<p>
			With over four years of experience, my expertise lies in the development
			of backend software using Golang, Node Js and Java.
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<Icon
			icon='thumbsUp'
			color='var(--accent-regular)'
			size='2.5rem'
			gradient
		/>
		<h2>Code Performance</h2>
		<p>
			Ensured code quality with linters and pre-commit hooks. Proficient in TDD
			unit testing, skilled in Robot Framework for API testing, and experienced
			in JMeter for load testing.
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<Icon icon='cycle' color='var(--accent-regular)' size='2.5rem' gradient />
		<h2>CI/CD</h2>
		<p>
			Utilized Jenkins pipelines for seamless integration of testing, building,
			and deployment processes in CI/CD workflows.
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<Icon icon='monitor' color='var(--accent-regular)' size='2.5rem' gradient />
		<h2>Monitoring</h2>
		<p>
			Implemented Prometheus to expose metrics for monitoring services,
			integrated with Grafana for comprehensive visualization.
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<Icon icon='cloud' color='var(--accent-regular)' size='2.5rem' gradient />
		<h2>Cloud</h2>
		<p>
			Utilized AWS cloud services, including S3, for storing various data types
			such as images and PDF files.
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<Icon icon='globe' color='var(--accent-regular)' size='2.5rem' gradient />
		<h2>Language</h2>
		<p>
			I possess a JLPT N3 certification for Japanese language proficiency and a
			CEFR C1 certification for English language proficiency.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
